
.main-section{
    display: flex;
}
.working-area{
    width:95%;
    margin: auto;
}

@media only screen and (max-width:550px) {
    .main-section{
        width: 100%;
    }
    .main-box{
        display: none;
    }
    .working-area{
        width: 100%;
        margin: 0px;
    }
}
